﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Virtual Global College</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Virtual Global College</h2>
        <p>
            We’re committed to helping you achieve your potential. 
            Our courses can help you up skill, 
            advance in your career or return to employment. 
            We offer recognised qualifications and 
            great student support. We are focused on ensuring each 
            student receives the support and assistance necessary to realise their potential. 
            There are many great reasons to choose VGC.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Highly relevant courses</h2>
        <p>Through our schools of business and computing we offer internationally 
        recognised programmes accredited through QQI. 
        We work closely with industry and professional bodies such as 
        Chartered Institute of Personnel and Development, 
        Institute of Commercial Management, Irish Institute of Pensions Management, 
        the Sales Institute of Ireland and others to ensure courses closely aligned to industry needs.</p>
        <p><a class="btn btn-default" href="http://www.asp.net/mvc/tutorials/getting-started-with-ef-using-mvc/">See the tutorial &raquo;</a></p>
   </div>
    <div class="col-md-4">
        <h2>Tailored training</h2>
        <p>If you are an organisation seeking bespoke 
        training we would be delighted to speak to you. 
        Through our professional education and training division
        we are the educational partner for a number of corporate bodies.
        So whether it’s a short part-time course, 
        upgrading your qualification to a Masters or coming through 
        the CAO system VGC can be a great choice for you. 
        See what some of our students have to say.</p>
        <p><a class="btn btn-default" href="http://code.msdn.microsoft.com/ASPNET-MVC-Application-b01a9fe8">Download &raquo;</a></p>
    </div>
</div>